<aside class="sidebar-container">
  <h2>Filtrar contenido</h2>

  <section class="filter-group">
    <h3>Campeones</h3>
    <ul>
      <li>
        <label for="difficulty">Dificultad:</label>
        <select id="difficulty">
          <option value="">Todos</option>
          <option value="easy">Fácil</option>
          <option value="medium">Media</option>
          <option value="hard">Difícil</option>
        </select>
      </li>
      <li>
        <label for="role">Rol:</label>
        <select id="role">
          <option value="">Todos</option>
          <option value="assassin">Asesino</option>
          <option value="fighter">Luchador</option>
          <option value="mage">Mago</option>
          <option value="marksman">Tirador</option>
          <option value="support">Soporte</option>
          <option value="tank">Tanque</option>
        </select>
      </li>
    </ul>
  </section>

  <section class="filter-group">
    <h3>Runas</h3>
  </section>

  <section class="filter-group">
    <h3>Hechizos</h3>
  </section>

  <section class="filter-group">
  </section>
</aside>
